$primary: #1878a8;
$primary-dark: #05557e;
$danger: #ff5b57;
$card-bg: #222;
$item-bg: #fff2;
$card-radius: 14px;
$item-radius: 8px;
$radio-indicator-height: 4px;
$radio-indicator-radios: $item-radius + $radio-indicator-height;

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.app {
  height: 100%;
  background-color: #000;
  position: relative;
}
#stage {
  position: absolute;
  top: 100px;
  left: 50px;
}
#room-title {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  font-size: 28px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.move {
  transition: transform 0.3s ease-out, filter 0.3s ease-out;

  &[data-position="right"],
  &[data-position="left"],
  &[data-position="top"],
  &[data-position="bottom"] {
    filter: opacity(0);
  }

  &[data-position="right"] {
    transform: translate(100%, 0px);
  }
  &[data-position="bottom"] {
    transform: translate(0%, 80px);
  }
  &[data-position="top"] {
    transform: translate(0%, -80px);
  }
  &[data-position="origin"] {
    transform: translate(0%, 0px);
    filter: opacity(1);
  }
}
.collapse {
  position: relative;
  transition: height 0.3s ease-out, filter 0.3s ease-out;
  overflow: hidden;
  &[data-toggle="collapse"] {
    filter: opacity(0);
  }
  &[data-toggle="open"][data-position="origin"] {
    filter: opacity(1);
  }
  .collapse-inner {
    position: absolute;
  }
}

.control-panel {
  position: absolute;
  height: 100%;
  right: 0;
  top: 0;
  width: 300px;
  overflow: hidden;
  display: none;
}

.btn {
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 80px;
  padding: 0 15px;
  border-radius: $item-radius;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  box-shadow: -2px 2px 4px #0003;
  &:disabled {
    cursor: not-allowed;
  }
  &.btn-primary {
    background-color: $primary;
  }
  &.btn-danger {
    background-color: $danger;
  }
  &.btn-dark {
    background-color: $item-bg;
  }
}

.player-panel {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: $card-radius;
}

.btns {
  display: flex;
  > .btn {
    margin-left: 10px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: background-color .3s ease-out;
  &[data-toggle="hide"] {
    background-color: #0000;
    > .modal-content {
      filter: opacity(0);
      transform: translate(0, 200px) scale(.5);
      transition-timing-function: ease-in;
    }
  }
  &[data-toggle="open"] {
    background-color: #000A;
    > .modal-content {
      filter: opacity(1);
      transform: translate(0, 0) scale(1);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  will-change: display, background-color;
}
.modal-content {
  background-color: $card-bg;
  border-radius: $card-radius;
  width: 400px;
  color: white;
  transition-property: filter, transform;
  transition-duration: .3s;
  .modal-header {
    font-size: 22px;
    padding: 10px 20px;
    text-shadow: -2px 2px 4px #0003;
  }
  .modal-body {
    padding: 20px;
  }
  .modal-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }
  will-change: filter, transform, transition-timing-function;
}

.form-line {
  position: relative;
  padding: 10px 0;
  > label {
    margin-bottom: 10px;
    display: block;
  }
  .input-wrapper {
    position: relative;
    background-color: $item-bg;
    box-shadow: -2px 2px 4px #0003;
    border-radius: $item-radius;
    transition: background-color 0.3s ease-out;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      transition: width 0.3s ease-out;
      height: 4px;
      background-color: $primary;
      bottom: 0;
    }
    &:focus-within {
      background-color: #fffb;
      &::after {
        width: 100%;
      }
    }
    input[type="text"] {
      font-size: 18px;
      border: none;
      padding: 10px;
      background-color: transparent;
      border-radius: 0;
      width: 100%;
      box-sizing: border-box;
      color: #fff;
      transition: color 0.3s ease-out;
      &:focus {
        outline: none;
        color: black;
      }
    }
  }
  .radio-wrapper {
    display: flex;
    .radio-item {
      position: relative;
      border-radius: $item-radius;
      background-color: $item-bg;
      margin-right: 10px;
      box-shadow: -2px 2px 4px #0003;
      overflow: hidden;
    }
    input[type="radio"] {
      position: absolute;
      margin: 0;
      bottom: -$radio-indicator-height;
      left: -$radio-indicator-height;

      border: $primary $radio-indicator-height solid;
      border-top-color: transparent;

      height: 100%;
      width: 100%;
      box-sizing: content-box;

      border-radius: 0 0 $radio-indicator-radios $radio-indicator-radios;
      background-color: #fff0;
      transition: bottom 0.3s ease-out, background-color 0.3s ease-out;

      appearance: none;
      -webkit-appearance: none;
      cursor: pointer;

      &:checked {
        bottom: 0;
        background-color: #fff1;
      }
    }
    .radio-label {
      padding: 10px;
    }
  }
  .form-helper {
    position: absolute;
    top: 10px;
    right: 0;
    background-color: $danger;
    color: white;
    font-size: 14px;
    padding: 2px 5px;
    border-radius: $item-radius;
    filter: opacity(0);
    transition: filter 0.3s ease-out;
    &.has-error {
      filter: opacity(1);
    }
    &.shake {
      animation: shake 0.3s ease-out;
    }
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 50%, 90% {
    transform: translateX(-5px);
  }
  30%, 70% {
    transform: translateX(5px);
  }
}
